/* purgecss start ignore */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
/* purgecss end ignore */
@import 'tailwindcss/utilities';

:root {
    --bg-background-primary: #1A202C;
    --bg-background-secondary: #2D3748;
    --text-cc: #8795A1;
    --text-color: #ffffff;
    scroll-behavior: smooth;
}

.theme-dark {
    --bg-background-primary: #ffffff;
    --bg-background-secondary: #8795A1;
    --text-cc: #2D3748;
    --text-color: #000000;
}

.theme-bg {
    transition: background-color .25s;
}