/* purgecss start ignore */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
/* purgecss end ignore */
@import 'tailwindcss/utilities';

:root {
    --bg-background-primary: #ffffff;
    --bg-background-secondary: #EDF2F7;
    --text-color: #000000;
}

.theme-dark {
    --bg-background-primary: #1A202C;
    --bg-background-secondary: #2D3748;
    --text-color: #ffffff;
}